In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [2]:
data = [np.random.standard_normal() for i in range(7)]
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [3]:
a = [1, 2, 3]
a?

Type:        list
String form: [1, 2, 3]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [4]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [5]:
def add_numbers(a, b):
    """
    Add two numbers together

    Returns
    -------
    the_sum : type of arguments
    """
    return a + b

In [6]:
add_numbers?

Signature: add_numbers(a, b)
Docstring:
Add two numbers together

Returns
-------
the_sum : type of arguments
File:      f:\logs\temp\ipykernel_24840\1411870314.py
Type:      function

In [7]:
?np.*load*

np.__loader__
np.load
np.loadtxt

In [8]:
b = a
b

[1, 2, 3]

In [9]:
a.append(4)
b

[1, 2, 3, 4]

In [10]:
def append_element(some_list, element):
    some_list.append(element)

In [11]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [12]:
a = 5
type(a)

int

In [13]:
a = "foo"
type(a)

str

In [14]:
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [15]:
a = 5
isinstance(a, int)

True

In [16]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

In [17]:
a = "foo"

In [18]:
getattr(a, "split")

In [19]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [20]:
isiterable("a string")

True

In [21]:
isiterable([1, 2, 3])

True

In [22]:
isiterable(5)

False

In [23]:
5 - 7

-2

In [24]:
12 + 21.5

33.5

In [25]:
5 <= 2

False

In [26]:
a = [1, 2, 3]
b = a
c = list(a)
a is b

True

In [27]:
a is not c

True

In [28]:
a == c

True

In [29]:
a = None
a is None

True

In [30]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [31]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [32]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [33]:
fval = 7.243
fval2 = 6.78e-5

In [34]:
3 / 2

1.5

In [35]:
3 // 2

1

In [36]:
c = """
This is a longer string that
spans multiple lines
"""

In [37]:
c.count("\n")

3

In [38]:
a = "this is a string"
a[10] = "f"

TypeError: 'str' object does not support item assignment

In [ ]:
b = a.replace("string", "longer string")
b

In [39]:
a

'this is a string'

In [40]:
a = 5.6
s = str(a)
print(s)

5.6

In [41]:
s = "python"
list(s)
s[:3]

'pyt'

In [42]:
s = "12\\34"
print(s)

12\34

In [43]:
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

In [44]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [45]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [46]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [47]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
result

'10 Pesos is worth US$0.11304544426859599'

In [48]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

In [49]:
val = "español"
val

'español'

In [50]:
val_utf8 = val.encode("utf-8")
val_utf8

b'espa\xc3\xb1ol'

In [51]:
type(val_utf8)

bytes

In [52]:
val_utf8.decode("utf-8")

'español'

In [53]:
val.encode("latin1")

b'espa\xf1ol'

In [54]:
val.encode("utf-16")

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [55]:
val.encode("utf-16le")

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [56]:
True and True

True

In [57]:
False or True

True

In [58]:
int(False)

0

In [59]:
int(True)

1

In [60]:
a = True
b = False
not a

False

In [61]:
not b

True

In [62]:
s = "3.14159"
fval = float(s)
type(fval)

float

In [63]:
int(fval)

3

In [64]:
bool(fval)

True

In [65]:
bool(0)

False

In [66]:
a = None
a is None

True

In [67]:
b = 5
b is not None

True

In [68]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    
    if c is not None:
        result = result * c
    return result

add_and_maybe_multiply(3, 5, 4)

32

In [69]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day

29

In [70]:
dt.minute

30

In [71]:
dt.date()

datetime.date(2011, 10, 29)

In [72]:
dt.time()

datetime.time(20, 30, 21)

In [73]:
dt.month

10

In [74]:
dt.second

21

In [75]:
dt.year

2011

In [76]:
dt.hour

20

In [77]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [78]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [79]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [80]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [81]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [82]:
type(delta)

datetime.timedelta

In [83]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [84]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [85]:
4 > 3 > 2 > 1

True

In [86]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
print(total)

12

In [87]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [88]:
range(10)

range(0, 10)

In [89]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [91]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [92]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [93]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668